.products {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;



}

.products input {
  padding: 5px;
  width: 250px;
  border-radius: 3px;
}

.products label  {
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: #fa6f4c;
}
.products button{
    border: none;
    background-color: #fa6f4c;
    border-radius: 5px;
    color: white;
}