.header {
  height: 50px;
  padding: 10px;
  background-color: coral;
  color: white;
  margin: 5px;
  display: flex;
  text-align: center;
  justify-self: center;
  font-size: 80px;
  align-items: center;
}