


*{
    margin:  6px;
}
.container{
    display: flex;
     flex-wrap: wrap;
    gap: 15px;
    grid-template-columns: repeat(auto-fill,350px);
    justify-self: center;
   
}
.card img{
    width:200px ;
    height: 200px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}
.color-white{
    color: white;
}
.products{
    display: flex;
    // width: 350px;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    
   
}
.products input{
    // padding: 5px;
    justify-content: center;
}
.search{
    justify-content: center;
    display: flex;
    border-radius: 10px;
    // background-color: aqua;
}
.search input{
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    padding: 8px;
}
.dicsount{
    color: darkorange;
}