<!-- <p>{{company |uppercase}}</p>
<p>{{date |date :'fullDate'}}</p> -->

<div class="search">
  <input type="text" [(ngModel)]="filter" placeholder="Search item..">
</div>



<div class="container" *ngIf="products.length;else noProduct">
  <div *ngFor="let product of products |searc:filter;let i =index">

    <div class="card" [ngStyle]="{backgroundColor:!product.inStock ?'red' :''}"
      [ngClass]="{'color-white':!product.inStock}">
      <img [src]="product.url" alt="">
      <h1>{{product.name}}</h1>
      <p>{{product.description |shorten:20}}</p>
      <p>{{product.price | currency:'USD':"symbol":"1.0-0"}}</p>
      <h2 class="dicsount">-{{getDiscount(product.price,product.sellingArt)|number:'0.2-2'|percent}}</h2>
      <div>
        <button [ngStyle]="{backgroundColor:'yellow',color:'red',borderRadius:'5px',padding:'5px'}"
          (click)="onDelete(i)">delete</button>
        <button [ngStyle]="{background:'aqua',color:'blue',borderRadius:'5px',padding:'5px'}"
          (click)="onUpdate(i)">update</button>
      </div>
    </div>

  </div>
</div>





<ng-template #noProduct>
  <p>You dont ahve any products</p>
</ng-template>
